; See http://editorconfig.org/ for more information.

; Top-most EditorConfig file
root = true

; Use Windows line endings
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true

; C# settings
[*.cs]
indent_style = space
indent_size = 4

; WiX files: wxs, wxl, wxi
[*.wx{s,l,i}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = false

; Markdown files
[*.md]
insert_final_newline = false
